<!--<ion-header>
  <ion-toolbar>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-input
    placeholder="Project Name"
    type="text"
    [(ngModel)]="projectName">
  </ion-input>
  <ion-button (click)="addProject()">Add</ion-button>
  <ion-list>
    <ion-item *ngFor="let project of projects">
      <ion-label>
        {{ project.projectName }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>