<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input
        placeholder="Project Name"
        type="text"
        [(ngModel)]="projectName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="addProject()">Add</ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let project of projects" routerLink="/projects/{{project.projectId}}">
      <ion-label>
        {{ project.projectName }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>