<ion-header>
  <ion-toolbar>
    <ion-title>
      {{project?.projectName}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
              [text]="backButtonText"
              [icon]="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="project" padding>
  <ion-item>
    <ion-label>Project Name</ion-label>
    <ion-input
            placeholder="Project Name"
            type="text"
            [(ngModel)]="project.projectName">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tool Name</ion-label>
    <ion-input
            placeholder="Tool Name"
            type="text"
            [(ngModel)]="project.projectToolName">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="updateProject(project)">Save</ion-button>
  </ion-item>
</ion-content>
